{% extends "base_generic.html" %}

{% block content %}
<div class="p-2 mb-4 bg-dark bg-gradient text-white">
    <form method="GET">
      {{filter.form}}
      <button type="submit" class="p-1 mb-1 btn btn-info">Filter</button>
    </form>
  </div>
<div class="container">
    <ul>
        {% for book in filter.qs %}
        <li>
            <a href="{% url 'book-detail' book.pk %}">{{book.title}}</a>
            <a href="{% url 'delete_book' book.pk %}" class="btn btn-danger btn-sm">Delete</a></td>
            <a href="{% url 'update_book' book.pk %}" class="btn btn-success btn-sm">Update</a></td>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}