{% extends "base_generic.html" %}
{% load static %}
{% block content %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Name:</strong> {{ book.title }}</p> 
  <p><strong>About the Book:</strong> {{ book.description }}</p>
  <p><strong>ISBN:</strong>{{ book.isbn }}</p>
  <p><strong>Author:</strong> {{ book.author}}</p>
  <p><strong>Image:</strong><img src="{% static image_name %}" width="50%" height="50%"></p>
  <p><strong>Genre:</strong>
    <ul>
        {% for genre in book.genre.all %}
        <li>
        <a href="{% url 'genre-books' genre.pk %}">{{ genre }}</a>
        </li>
        {% endfor %}
    </ul>
  <p><strong>No of pages:</strong>{{ book.no_of_pages }}</p>
  <p><strong>Publisher:</strong></p>
  <ul>
    {% for publisher in book.publishers.all %}
    <li>
    {{ publisher }}
    </li>
    {% endfor %}
</ul>
  <p><strong>Date Published:</strong>{{ book.published_date }}</p>
        
 {% endblock %}